.lista-stories {
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: 64vh;
}

.item-stories {
    background-color: var(--menu-bg-color);
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px; 
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
        h2{
            display: flex;
            justify-content: center;
            color: var(--text-color-item-h2)
        }

        p{
            display: flex;
            justify-content: center;
            color: var(--description-color)
        }
}

.cero-items-container {
    text-align: center;
    margin-top: 20px;
}

.cero-items {
    color: #777;
    font-size: 18px;
}
