.header {
    text-align: center;
    margin-bottom: 10px;
}

.box-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    background-color: #f4f4f4; // Ajusta el fondo para que coincida con el resto del proyecto
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white; // Fondo del formulario
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra para destacar el formulario
}

.input-field {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn-login {
    background-color: #0b5a9f; // Ajusta el color del botón
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #084d83; // Color más oscuro al hacer hover
}

.error-message {
    color: red;
    margin-top: 10px;
    font-weight: bold;
}