.item-tasks {
    display: flex; /* Configura los elementos en fila */
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: space-between; /* Espacio entre los elementos internos */
    background-color: var(--menu-bg-color);
    box-sizing: border-box;
    border: 3px solid var(--header-bg-color);
    padding: 10px;
    margin: 10px auto; /* Centra horizontalmente el elemento */
    width: 74%; /* Establece el ancho al 75% de la pantalla */
    border-radius: 8px; /* Opcional: bordes redondeados para mejor apariencia */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.checkbox-tarea {
    margin-right: 20px; /* Ajusta el espacio entre el checkbox y el contenido */
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.content {
    display: flex; /* Habilita flexbox dentro del contenedor de texto */
    flex-direction: column; /* Alinea título y descripción en columna */
    align-items: center; /* Alinea el contenido a la izquierda */
    justify-content: center; /* Centra el contenido verticalmente */
    margin-left: 70px;
    flex: 1; /* Ocupa el espacio restante */
    h2 {
        margin: 8px 0;
        font-size: 1.5rem;
        color: var(--text-color-item-h2); /* Color del título */
    }
    p {
        font-size: 1rem;
        color: var(--text-color); /* Color del texto de descripción */
        margin: 4px 0;
    }
}
