.footer {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

.footer-content{
    margin-top: 20px;
    border-top: 1px solid #888;
    padding-top: 10px;
    font-size: 14px;
}

.footer-text{
    margin: 0;
    padding-top: 5px; 
}